/* Font */
@font-face {
  font-family: "Guardian Titlepiece";
  src: url("fonts/GdnTitlepiece.otf"); }
/* Base styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "EgyptianText", serif;
  margin: 0; }

h1 {
  font-family: "EgyptianHeadline", serif; }

p {
  font-size: 14px;
  line-height: 22px;
  font-family: "EgyptianText";
  margin: 7px 0; }

/* Utitlities */
.gs-container {
  margin: 0 auto;
  max-width: 81.25em;
  /* 1300px */ }

.list {
  margin: 0;
  padding: 0; }

.list__item {
  list-style: none; }

.grid {
  overflow: hidden;
  margin: 0 -1em; }

.grid__item {
  display: block;
  float: left;
  padding: 0 1em;
  width: 100%; }

/* Proposition */
.guapp__proposition {
  color: #fff;
  background-image: url("images/proposition__background.png");
  background-color: #214583;
  background-position: center center;
  background-size: cover;
  padding: 2em 0;
  overflow: auto; }

@media all and (min-width: 46.25em) {
  .guapp__proposition__container {
    width: 560px;
    float: left; } }
@media all and (min-width: 46.25em) and (max-width: 61.24em) {
  .guapp__proposition__container {
    width: 420px; } }
@media all and (max-width: 46.24em) {
  .guapp__proposition__container {
    max-width: 500px;
    margin: 0 auto; } }

.guapp__proposition__title {
  font-family: "Guardian Titlepiece";
  color: #fff;
  font-size: 46px;
  line-height: 54px;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 18px; }
  @media all and (max-width: 61.24em) {
    .guapp__proposition__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 8px; } }
  @media all and (max-width: 46.24em) {
    .guapp__proposition__title {
      font-size: 28px;
      line-height: 36px; } }

.guapp__proposition__intro {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  opacity: 0.8; }
  @media all and (max-width: 61.24em) {
    .guapp__proposition__intro {
      font-size: 16px;
      line-height: 22px; } }

@media all and (min-width: 46.25em) and (max-width: 61.24em) {
  .guapp__proposition__image {
    width: 300px; } }
@media all and (min-width: 61.25em) and (max-width: 81.24em) {
  .guapp__proposition__image {
    width: 400px; } }
@media all and (min-width: 46.25em) {
  .guapp__proposition__image {
    float: right; } }
@media all and (max-width: 46.24em) {
  .guapp__proposition__image {
    margin: 0 auto;
    display: block;
    width: 60%; } }
@media all and (max-width: 28.125em) {
  .guapp__proposition__image {
    width: 90%; } }
@media all and (min-width: 46.25em) and (max-width: 61.24em) {
  .guapp__proposition__image {
    margin-top: 16px; } }
@media all and (min-width: 46.25em) {
  .guapp__proposition__image--mobile {
    display: none; } }
@media all and (max-width: 46.24em) {
  .guapp__proposition__image--desktop {
    display: none; } }

@media all and (min-width: 61.25em) and (max-width: 81.24em) {
  .guapp__proposition .guapp__appstores {
    margin-top: 50px; } }
@media all and (min-width: 81.25em) {
  .guapp__proposition .guapp__appstores {
    margin-top: 100px; } }
@media all and (max-width: 46.24em) {
  .guapp__proposition .guapp__appstores {
    text-align: center;
    margin: 20px 0; } }
@media all and (min-width: 46.25em) and (max-width: 61.24em) {
  .guapp__proposition .guapp__appstores {
    margin-top: 10px; } }

.guapp__appstore__link img {
  height: 60px; }
.guapp__appstore__link:hover {
  opacity: 0.8; }
@media all and (min-width: 61.25em) {
  .guapp__appstore__link:nth-of-type(1) {
    margin-right: 24px; } }

/* Video */
.guapp__video {
  margin: 12px 0; }

.guapp__video__wrapper {
  padding-top: 56.25%;
  position: relative;
  height: 0; }

.guapp__video__player {
  margin: 0 auto;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; }
  @media all and (max-width: 61.24em) {
    .guapp__video__player {
      width: 100%; } }

.guapp__video__player__button {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 0;
  right: 0;
  margin-top: -28px;
  cursor: pointer; }
  .guapp__video__player__button:hover {
    color: #222; }
    .guapp__video__player__button:hover .guapp__video__player__button__image {
      background-position: 0px 0px; }
  @media all and (max-width: 46.24em) {
    .guapp__video__player__button {
      font-size: 16px; } }

.guapp__video__player__button__image {
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
  background-image: url("images/btn--play.png");
  width: 64px;
  height: 64px;
  background-size: 64px;
  background-position: 0 -64px;
  background-repeat: no-repeat; }
  @media all and (max-width: 46.24em) {
    .guapp__video__player__button__image {
      width: 44px;
      height: 44px;
      background-size: 44px;
      background-position: 0 -44px; } }

/* Features */
.guapp__features {
  background-color: #f6f6f6;
  padding: 2em 0; }

@media all and (min-width: 28.125em) and (max-width: 61.24em) {
  .guapp__features .grid__item {
    width: 50%; } }
@media all and (min-width: 61.25em) {
  .guapp__features .grid__item {
    width: 33%; } }

.guapp__feature {
  margin-bottom: 34px; }
  @media all and (max-width: 46.24em) {
    .guapp__feature {
      margin-bottom: 20px; } }
  .guapp__feature img {
    max-width: 100%;
    border-bottom: 1px solid #dddbd7;
    margin-bottom: 12px; }
    @media all and (max-width: 28.125em) {
      .guapp__feature img {
        display: none; } }
  @media all and (min-width: 28.125em) and (max-width: 61.24em) {
    .guapp__feature:nth-of-type(2n+1) {
      clear: both; } }
  @media all and (min-width: 61.25em) {
    .guapp__feature:nth-of-type(3n+1) {
      clear: both; } }

.guapp__feature__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0; }

@media all and (max-width: 61.24em) {
  .guapp__feature--save__image {
    display: none; } }

/* Footer */
.guapp__footer {
  padding: 2em 0; }
  .guapp__footer .gs-container {
    overflow: auto; }

.guapp__footer__wrapper {
  text-align: center; }

.guapp__tagline,
.guapp__appstores {
  display: inline-block;
  vertical-align: middle; }

@media all and (min-width: 46.25em) {
  .guapp__tagline {
    margin-right: 20px; } }

@media all and (max-width: 46.24em) {
  .guapp__appstores {
    display: block;
    margin-top: 20px; } }

.guapp__footer__designed {
  margin-top: 40px;
  text-align: center;
  font-family: "AgateSans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }

.l-footer {
  border-top: none; }

.content {
  padding: 0; }
