@import "sass/_mq";


/* Fonts - to be removed 
$guss-webfonts-base-url: 'bower_components/guss-webfonts/';
$guss-webfonts-charset: 'original';
$guss-webfonts-hinting: 'off';
$guss-webfonts-kerning: 'on';
$guss-webfonts-version: 'webfonts';
@import 'bower_components/guss-webfonts/src/_webfonts';

@include guss-webfonts(
    (
        'Guardian Agate Sans 1 Web': (
            (weight: 'regular', style: 'normal'),
            (weight: 'bold',    style: 'normal', charset: 'original'),
        ),
        'Guardian Text Egyptian Web': (
            (weight: 'regular',  style: 'normal'),
            (weight: 'regular',  style: 'italic'),
            (weight: 'medium',   style: 'normal', version: '0.2.0', use-as: (weight: 'bold')),
            (weight: 'medium',   style: 'italic', hinting: 'off', use-as: (weight: 'bold', style: 'normal')),
        ),
        'Guardian Egyptian Web': (
            (weight: 'light',    style: 'normal', kerning: 'off'),
            (weight: 'regular',  style: 'normal'),
            (weight: 'semibold', style: 'normal', use-as: (weight: 'ultrablack')),
        ),
        'Guardian Text Sans Web': (
            (weight: 'regular',  style: 'normal'),
            (weight: 'regular',  style: 'italic'),
            (weight: 'medium',   style: 'normal', use-as: (weight: 'bold')),
            (weight: 'medium',   style: 'italic', use-as: (weight: 'bold', style: 'italic')),
        ),
        'Guardian Sans Web': (
            (weight: 'regular',  style: 'normal'),
        )
    )
); */

/* Font */
@font-face {
	font-family: "Guardian Titlepiece";
	src: url("fonts/GdnTitlepiece.otf");
}

/* Base styles */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Guardian Egyptian Web", serif;
    margin: 0;
    font-style: normal;
}
h1 {
    font-family: "EgyptianHeadline", serif;
}
p {
    font-size: 14px;
    line-height: 22px;
    font-family: "Guardian Egyptian Web";
    margin: 7px 0;
    font-style: normal;
}

/* Utitlities */
.gs-container {
    margin: 0 auto;
}

.list {
    margin: 0;
    padding: 0;
}

.list__item {
    list-style: none;
}

.grid {
    overflow: hidden;
    margin: 0 -1em;
}
.grid__item {
    display: block;
    float: left;
    padding: 0 1em;
    width: 100%;
}

/* Proposition */
.guapp__proposition {
    color: #fff;
    background-image: url("images/proposition__background_dark.png");
    background-color: #333;
    background-position: center center;
    background-size: cover;
    padding: 0;
    overflow: auto;
}
.guapp__proposition__container {
    padding-top: 12px;

    @include mq($from: tablet) {
        width: 520px;
        float: left;
    }

    @include mq(tablet, leftCol) {
        width: 380px;
    }
    
    @include mq($to: tablet) {
        max-width: 500px;
        margin: 0 auto;
    }  
}
.guapp__proposition__title {
    font-family: "Guardian Titlepiece";
    color: #fff;
    font-size: 46px;
    line-height: 54px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 18px;

    @include mq($to: leftCol) {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 9px;
    }

    @include mq($to: desktop) {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 8px;
    }
    
    @include mq($to: tablet) {
        font-size: 28px;
        line-height: 36px;
    }
}
.guapp__proposition__intro {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    opacity: 0.8;
    
    @include mq($to: leftCol) {
        font-size: 16px;
        line-height: 22px;
    }
}
.guapp__proposition__image {
    @include mq(tablet) {
        float: right;
    }
    
    @include mq(tablet, desktop) {
        width: 300px;
    }

    @include mq(desktop, leftCol) {
        width: 460px;
    }

    @include mq(leftCol, wide) {
        width: 500px;
    }

    @include mq($to: tablet) {
        margin: 0 auto;
        display: block;
        width: 60%;
    }

    @include mq($to: 450px) {
        width: 90%;
    }
    
    @include mq(tablet, desktop) {
        margin-top: 16px;
        
    }
    
    &--mobile {
        @include mq($from: tablet) {
            display: none;
        }
    }
    
 &--tablet{
	 @include mq($from: tablet) {
		 margin-top: -20px;
		 width: 300px;
}

 }
  
  &--desktop{
		 @include mq($from: desktop) {
		 display: block;
		 }
	}
	
	&--desktop{
		 @media (max-width: 979px) {
			 display: none;
			  }

	}
	

	

  
	&--desktop{
		 @include mq($to: tablet) {
		 display: none;
		 }
	}
    
    &--tablet {
	     @include mq($from: desktop) {
            display: none;
        }
    }
    
       &--tablet {
	     @include mq($to: tablet) {
            display: none;
        }
    }
    
    
    
}
.guapp__proposition .guapp__appstores {
    @include mq(desktop, wide) {
        margin-top: 30px;
    }

    @include mq($from: wide) {
        margin-top: 60px;
    }

    @include mq($to: tablet) {
        text-align: center;
        margin: 20px 0;
    }
    
    @include mq(tablet, desktop) {
        margin-top: 10px;
    }
}
.guapp__appstore__link {
    img {
        height: 60px;
    }
    
    &:hover {
        opacity: 0.8;
    }
    
    &:nth-of-type(1) {
        @include mq($from: desktop) {
            margin-right: 24px;
        }
    }
}

/* Video */
.guapp__video {
    margin: 12px 0;
}

.guapp__video__wrapper {
    padding-top: 56.25%;
    position: relative;
    height: 0;
}

.guapp__video__player {
    margin: 0 auto;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    @include mq($to: desktop) {
        width: 100%;
    }
}

.guapp__video__poster {
    margin: 0 auto;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2147483646;
}

.guapp__video__player__button {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    z-index: 2147483647;
    left: 0;
    right: 0;
    margin-top: -28px;
    cursor: pointer;
    
    &:hover {
        color: #222;
        
        .guapp__video__player__button__image {
            background-position: 0px 0px;
        }
    }
    
    @include mq($to: tablet) {
        font-size: 16px;
    }
    
    span {
        @include mq($to: tablet) {
            display: none;
        }
    }
}

.guapp__video__player__button__image {
    vertical-align: middle;
    margin-right: 8px;
    display: inline-block;
    background-image: url("images/btn--play.png");
    width: 64px;
    height: 64px;
    background-size: 64px;
    background-position: 0 -64px;
    background-repeat: no-repeat;
    
    @include mq($to: tablet) {
        width: 44px;
        height: 44px;
        background-size: 44px;
        background-position: 0 -44px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .guapp__video__player__button,
    .guapp__video__poster {
        display: none;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .guapp__video__player__button,
    .guapp__video__poster {
        display: none;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .guapp__video__player__button,
    .guapp__video__poster {
        display: none;
    }
}

/* Features */
.guapp__features {
    background-color: #f6f6f6;
    padding: 2em 0;
}
.guapp__features .grid__item {
    @include mq(450px, desktop) {
        width: 50%;
    }
    @include mq($from: desktop) {
        width: 33%;
    }
}
.guapp__feature {
    margin-bottom: 34px;
    
    @include mq($to: tablet) {
        margin-bottom: 20px;
    }
    
    img {
        max-width: 100%;
        border-bottom: 1px solid #dddbd7;
        margin-bottom: 12px;
        @include mq($to: 450px) {
            display: none;
        }
    }
    &:nth-of-type(2n+1) {
        @include mq(450px, desktop) {
            clear: both;
           
        }
    }
    &:nth-of-type(3n+1) {
        @include mq($from: desktop) {
            clear: both;
            
        }
    }
    
    img.just{
	    margin-left: auto;
        margin-right:auto;
        display: block; 
    }
    
     img.football{
	    margin-left: auto;
        margin-right:auto;
        display: block; 
    }
}
.guapp__feature__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    font-style: normal;
}
.guapp__feature--save__image {
    @include mq($to: desktop) {
        display: none;
    }
}

/* Footer */
.guapp__footer {
    padding: 2em 0;
    
    .gs-container {
        overflow: auto;
    }
}

.guapp__footer__wrapper {
    text-align: center;
}

.guapp__tagline,
.guapp__appstores {
    display: inline-block;
    vertical-align: middle;
}

.guapp__tagline {
    @include mq($from: tablet) {
        margin-right: 20px;
    }
}

.guapp__appstores {
    @include mq($to: tablet) {
        display: block;
        margin-top: 20px;
    }
}

.guapp__footer__designed {
    margin-top: 40px;
    text-align: center;
    font-family: "Guardian Agate Sans 1 Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.l-footer {
    border-top: none;
}

.content {
    padding: 0;
}

.ad-slot,
.top-banner-ad-container {
    display: none !important;
}

.button.watch__more__button{
	background-color:#005689;
	color: white;
	border-radius: 62.5em;
	vertical-align: top;
	border-width: 0.0625em;
	box-sizing: border-box;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	padding: 0 0.625em;
	margin-right: 0.625em;
	line-height: 1.75em;
	height: 26px !important;
	display: block;
	width: 150px;
	float: left;
	margin-top: 10px;
	
	&:hover{
		background-color: #005689;
		border: #005689;
	}
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

